<div class="container-fluid">
	<hr>
	<header>
		<img style="max-width:400px;margin: 0 auto;display:table;" src="https://spaceg.github.io/assets/images/t2.jpg" />
		<p>

			This is Our Example Carousel in Angular 6<strong>ng-bootstrap</strong> project: Angular powered Bootstrap. Visit
			<a href="https://www.youtube.com/channel/UCpMkxjR1N5J3NSFfC6oEbZw"
			 target="_blank">https://www.youtube.com/channel/UCpMkxjR1N5J3NSFfC6oEbZw</a> for more Tutorials.
		</p>
		<hr>

	</header>
	<ngbd-carousel-basic></ngbd-carousel-basic>
</div>